<h1>Cocktails#show</h1>
<p>Find me in app/views/cocktails/show.html.erb</p>
<%= cl_image_tag @article.photo, height: 300, width: 400, crop: :fill %>
<h1><%= @cocktail.name %></h1>
<ul>
  <% @cocktail.doses.each do |dose| %>
    <li><%= dose.description %> - <%= dose.ingredient.name%> -- <%= link_to "DELETE", dose_path(dose), method: :delete %></li>
  <% end %>
</ul>
<h2><%= link_to "Add an ingredient", new_cocktail_dose_path(@cocktail) %></h2>
<h3><%= link_to "Cocktail List", cocktails_path %></h3>
<h3><%= link_to "Delete Cocktail", cocktail_path(@cocktail),
method: :delete,
data: {confirm: "Are you sure?"} %></h3>
